# Build files
*.obj
*.o
*.tds
*.gch
*.db
*.brow_pch
*.dsk
*.dcu
*.identcache
*.cgl
*.depend
*.il*
*.map
*.tmp
*.exe
*.dll
CMakeCache.txt

# Build subdirs
bin
obj
lib
!/Streamline/Streamline/NewImport/Lib
Debug
Release
Debug_Build
Release_Build
Win32
Win64
build*
.pch
.moc
\!Out
CMakeFiles/

# Desktop, local VCS, backup, temporary files
*.local
*.autosave
__history
*.layout
*.~*
*.$$$
*.gid
*.chw
desktop.ini
*.pro.user
*.qbs.user
*.lock
.*
!.gitignore
compile_commands.json
CMakeLists.txt.user
*.orig


# Testing
*.sqlite
*.log

# Uncategorized
Plugins
PreproLib.lib
*.model
*.cache
*.pdi
php_curl

# Sensitive data that should be elsewhere
*.vmp

# Setup files
*/!TestCases/pathToDropbox.txt
*/!TestCases/PathToDropbox.txt
*/!TestCases/pathToExe.txt
*/!TestCases/PathToExe.txt
*/!TestCases/pathToEXE.txt
*/!TestCases/PathToEXE.txt
Streamline/Streamline/NewImport/webConnector/Makefile.Debug
Streamline/Streamline/NewImport/webConnector/Makefile.Release
Streamline/Streamline/NewImport/webConnector/object_script.webConnector.Debug
Streamline/Streamline/NewImport/webConnector/object_script.webConnector.Release
Streamline/Streamline/NewImport/webConnector/data.txt
Streamline/Streamline/NewImport/webConnector/json-response.txt
Streamline/Streamline/NewImport/webConnector/Makefile
Streamline/Streamline/NewImport/.qmake.stash
Streamline/Streamline/NewImport/Makefile
Streamline/Streamline/NewImport/Makefile.Debug
Streamline/Streamline/NewImport/Makefile.Release
Streamline/Streamline/NewImport/object_script.webConnector.Debug
Streamline/Streamline/NewImport/object_script.webConnector.Release
Streamline/Streamline/NewImport/webConnector/bcInventoryMovementTable.txt
Streamline/Streamline/NewImport/webConnector/bcItemsTable.txt
Streamline/Streamline/NewImport/webConnector/bcReturnedPurchaseOrders.txt
Streamline/Streamline/NewImport/webConnector/bcReturnedSalesOrders.txt
Streamline/Streamline/NewImport/webConnector/bcToReceiveTable.txt
Streamline/Streamline/NewImport/webConnector/bcToShipTable.txt
Streamline/SapExportProxy/libs/disphelper/disphelper32.a
Streamline/SapExportProxy/libs/disphelper/disphelper64.a
Streamline/Streamline/setup_local.sh
Streamline/Streamline/MacScripts/CacheVariablesLocal.cmake

# Auto tests
QA_automated_tests/tmp.py
QA_automated_tests/__pycache__/
QA_automated_tests/config.cfg
QA_automated_tests/logs/

QA_automated_tests/path_to_exe.txt
QA_automated_tests/dist/
QA_automated_tests/build/
QA_automated_tests/load_logs.txt
*.spec
!install.spec
QA_automated_tests/web/__pycache__/
Streamline/Streamline/include/AutogeneratedProductInfo.h
Streamline/Streamline/spdlog/cmake_install.cmake
